@model ECommerceApp.DTOs.CreateProductDto

<h2>Create Product</h2>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-secondary" href="/Product">
        <i class="bi bi-arrow-left-circle"></i> Back
    </a>
</div>

<form method="post" class="card p-4 shadow-sm">

    <div class="form-group mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Create
    </button>

</form>
