@model ECommerceApp.DTOs.CreateCategoryDto

<h2>Create Category</h2>

<form method="post">

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>


    <button type="submit" class="btn btn-success mt-3">Create</button>
</form>
