@model ECommerceApp.DTOs.UpdateCategoryDto

<h2>Edit Category</h2>

<form method="post">

    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning mt-3">Update</button>
</form>
